global
    log stdout format raw local0
    log-send-hostname

defaults
    log global
    mode http
    option httplog
    option dontlognull
    option logasap
    timeout connect 5s
    timeout client  50s
    timeout server  50s

frontend http_front
    mode http
    option httplog
    log global
    bind *:8080
    monitor-uri /healthz
    capture request  header X-Target-Service len 50
    capture request  header X-Session-Id len 100

    acl hdr_service1 hdr(X-Target-Service) -i -m str ocpaplservice-testenv
    use_backend ocpaplservice-testenv if hdr_service1
    acl hdr_service2 hdr(X-Target-Service) -i -m str aocpaplservice-testenv
    use_backend aocpaplservice-testenv if hdr_service2

backend ocpaplservice-testenv
    option httpchk GET /actuator/health
    server apl_primary ocpaplservice-testenv.oc-testenv.svc.cluster.local:8080 check

backend aocpaplservice-testenv
    option httpchk GET /actuator/health
    server aapl_primary aocpaplservice-testenv.oc-testenv.svc.cluster.local:8080 check

backend default_backend
    server def 127.0.0.1:80
