# Custom snippet for balancing through HTTP headers

#{{- range $cfgIdx, $cfg := .State }}

#{{- if (ne (index $cfg.Annotations "haproxy.router.openshift.io/cbr-header") "") }}

#acl custom_header_{{index $cfg.Annotations "haproxy.router.openshift.io/cbr-header"}} hdr_sub(cbr-header) {{index $cfg.Annotations "haproxy.router.openshift.io/cbr-header"}}

#use_backend be_http:{{$cfgIdx}} if custom_header_{{index $cfg.Annotations "haproxy.router.openshift.io/cbr-header"}}

#{{- end }}

#{{- end }}